$primary-color: #2F0FFF;
$primary-color-active: #000F64;
$primary-color-hover: #2f0fffbd;

$secondary-color: #FFDD00;
$main-text-color: #f0f0f0;
$sub-text-color: #6ea8fb;
$text-black: #000;

$background-color: #00041B;

$font-size: 16px;
$sub-font-size: 12px;
$font-size-title: 28px;

